body {
    width: 90%;
    background-color: #333333;
    font-family: Consolas, monospace;
    color: white;
}
body h2{
    font-family: inherit;
    padding-left: 20px;
}
ul {
    list-style-type: square;
    color: white;
    text-align: justify;
    font-size: 18px;
}
.header{
    font-family: inherit;
    padding-left: 20px;
}
.example-block{
    width: 100%;
    background-color: #232323;
    color: white;
    padding: 5px 0 5px 5px;
    margin-left: 40px;
}
.example-block p {
    padding-left: 10px;
}
.navigation {
    width: 100%;
    height: 50px;
    position: fixed;
    transition: 0.2s;
    z-index: 1;
    top: 0;
    background-color: #333;
    overflow: hidden;
    padding-bottom: 10px;
    margin-top: 50px;
}
.navigation button {
    background-color: #444343;
    color: #f2f2f2;
    font-family: inherit;
    font-size: 17px;
    float: left;
    border: thin groove #818181;
    outline: none;
    padding: 10px 16px;
    text-decoration: none;
}
.navigation button:hover {
    background-color: #ddd;
    color: black;
}
.navigation button.active {
    background-color: #18a1ac;
    color: white;
}
.code-block div{
    border: 1px solid gray;
    padding: 5px 0 5px 5px;
    color: black;
}
.marked-text {
    color: #18a1ac;
    background-color: #282828;
    font-weight: bold;
}
#content-frame {
    border: none;
    width: 90%;
    padding-top: 50px;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px;
    background: #444343;
}
::-webkit-scrollbar-thumb {
    background: #acacac;
}
::-webkit-scrollbar-thumb:hover {
    background: #818181;
}